@use "@scss/abstract/index";

$styles: (
  ".font-italic": (
    font-style: italic,
  ),
  ".font-middle": (
    font-weight: 500,
  ),
  ".font-bold": (
    font-weight: 700,
  ),
  ".font-light": (
    font-weight: 300,
  ),
  ".font-normal": (
    font-weight: 400,
  ),
  // ========== Font-size ==========
  ".fs-14": (
      font-size: 0.7rem,
    ),
  ".fs-16": (
    font-size: 0.8rem,
  ),
  ".fs-18": (
    font-size: 0.9rem,
  ),
  ".fs-20": (
    font-size: 20px,
  ),
  ".fs-24": (
    font-size: 1.2rem,
  ),
  // ========== Line-height ==========
  ".lh-1": (
      line-height: 1,
    ),
  ".lh-125": (
    line-height: 1.25,
  ),
);

@include index.generate_styles($styles);
