@use "@scss/abstract/index";

$styles: (
  ".p-auto": (
    padding: auto,
  ),
  ".pt-0": (
    padding-top: 0,
  ),
  ".pb-0": (
    padding-bottom: 0,
  ),
  ".pt-05": (
    padding-top: 0.5rem,
  ),
  ".pb-05": (
    padding-bottom: 0.5rem,
  ),
  ".pr-05": (
    padding-right: 0.5rem,
  ),
  ".pl-05": (
    padding-left: 0.5rem,
  ),
  ".py-05": (
    padding: 0.5rem 0,
  ),
  ".px-05": (
    padding: 0 0.5rem,
  ),
  ".pt-1": (
    padding-top: 1rem,
  ),
  ".pb-1": (
    padding-bottom: 1rem,
  ),
  ".pr-1": (
    padding-right: 1rem,
  ),
  ".pl-1": (
    padding-left: 1rem,
  ),
  ".py-1": (
    padding: 1rem 0,
  ),
  ".px-1": (
    padding: 0 1rem,
  ),
  ".pt-2": (
    padding-top: 2rem,
  ),
  ".pb-2": (
    padding-bottom: 2rem,
  ),
  ".pr-2": (
    padding-right: 2rem,
  ),
  ".pl-3": (
    padding-left: 3rem,
  ),
);

@include index.generate_styles($styles);
