@use "@scss/abstract/index";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  color: #fff;
  &.is-active {
    padding: 0.8rem 0;
    background: #050029;
    max-height: 100px;
    @include index.minMedia(800px) {
      padding: 1.25rem 0;
      max-height: none;
    }
    .header-logo {
      @include index.minMedia(1400px) {
        width: 10.625rem;
      }
      &:after {
        opacity: 0;
        bottom: 0;
        transition-delay: 0.2s;
        @include index.minMedia(800px) {
          opacity: 1;
          visibility: visible;
          bottom: -20px;
          bottom: -1.25rem;
        }
      }
    }
  }
  &--large {
    padding: 2.75vw 0;
    .header-logo {
      width: 10.119vw;
    }
  }
  &--small {
    padding: 20px 0;
    padding: 1.25rem 0;
    .header-logo {
      width: 10.119vw;
    }
  }
  .header-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    max-width: 120rem;
  }
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3.75vw;
  left: 0;
  height: 70px;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  @include index.minMedia(800px) {
    margin: 0 5.75vw;
  }
  @include index.minMedia(1050px) {
    justify-content: center;
  }
  .button-wrap {
    position: absolute;
    right: 70px;
    @include index.minMedia(1100px) {
      right: 0;
    }
  }
}

.header-nav {
  display: none;
  @include index.minMedia(1050px) {
    display: table;
  }
}

.header-right {
  position: absolute;
  right: 10px;
}
