@use "@scss/abstract/index";

section,
.section {
  position: relative;
  z-index: 1;
  &--inner {
    @extend .section;
    padding-bottom: 35px;
    @include index.minMedia(550px) {
      padding-bottom: 50px;
    }
    @include index.minMedia(1100px) {
      padding-bottom: 70px;
    }
    @include index.minMedia(1400px) {
      padding-bottom: 100px;
    }
  }
}

.section-type {
  @extend section;
  height: auto;
  padding: 3.75rem 0;
  @include index.minMedia(800px) {
    padding: 6rem 0;
  }
}
