@use "@scss/abstract/index";

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.25rem 0;
    &:first-child {
      border-top: 1px solid #e0e0e0;
    }
    @include index.minMedia(550px) {
      padding: 0.7rem 0;
    }
  }
}

.faq-question {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 15px;
  padding-left: 0;
  padding-bottom: 1.2rem;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  position: relative;
  @include index.minMedia(550px) {
    padding: 15px 20px;
    line-height: 1.2;
  }
  &::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 1.2rem;
    font-size: 0.9rem;
    transition: transform 0.3s ease;
    @include index.minMedia(550px) {
      right: 20px;
    }
  }
  &.active::after {
    transform: rotate(180deg); /* Поворот стрелки при открытии */
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden; /* Скрываем содержимое при закрытии */
  padding: 0 20px 0 0; /* Боковые отступы */
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0; /* Прозрачность для анимации */
  transition:
    max-height 0.35s ease,
    padding-bottom 0.35s ease,
    opacity 0.35s ease;
  @include index.minMedia(550px) {
    padding: 0 20px;
  }
  &.active {
    margin-bottom: 1.5rem; /* Отступ снизу при открытии */
    opacity: 1;
  }
}

// ============================================
