@use "@scss/abstract/index";

.services-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 550px;
  background-color: #1d1d1d;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  @include index.minMedia(550px) {
    background-color: rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
      .find-btn {
        border: 2px solid #fff;
        color: #fff;
        margin-top: auto;
      }
      .services-banner {
        &:before {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }
  .services-banner {
    background-color: #eeeeee;
    position: relative;
    padding-top: 62%;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 3;
      @include index.minMedia(550px) {
        background: rgba(0, 0, 0, 0.15);
      }
    }
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      img {
        height: 102%;
        width: auto;
      }
    }
  }
  .services-prev {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    @include index.minMedia(800px) {
      padding: 30px 20px;
    }
    @include index.minMedia(1100px) {
      padding-left: 30px;
    }
    .content {
      flex-grow: 1;
      margin-bottom: 1.5rem;
      height: auto;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.7;
      @include index.minMedia(550px) {
        font-size: 16px;
      }
    }
  }
}

.services-list {
  margin-bottom: 1.1rem;
  padding-left: 25px;
  @include index.minMedia(800px) {
    margin-bottom: 1.4rem;
  }
  li {
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 2px;
      background-color: #18e591;
      position: absolute;
      left: -20px;
      top: 15px;
      @include index.minMedia(550px) {
        width: 15px;
        left: -25px;
      }
    }
  }
  span {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    padding-right: 0.3rem;
  }
}
